<div class='banner'>
	<div class='container'>
		<app-logo-svg fillColor='#fff'></app-logo-svg>
		<div>
			<a href='#'>Comprar un auto</a>
			<a href='#'>Cambia o vende tu auto</a>
			<a href='#'>Preguntas Frecuentes</a>
			<a href='#'>Guía de precios</a>
			<a href='#'>Testimonios</a>
			<a href='#'>Contáctanos</a>
			<a href='#'>Sedes</a>
			<a href='#'>Blog</a>
			<a href='#'>Empleos</a>
			<a href='#'>Registrate</a>
		</div>
		<div class='icons'>
			<a href='#'>¿No está el auto que quieres?</a>
			<div class='social'>
				<div>
					<svg viewBox="0 0 1024 1024"><path d="M415.623 515.04V875.005a9.324 9.324 0 0 0 9.324 9.324l.213-.002h133.556l.204.002a9.324 9.324 0 0 0 9.324-9.324V508.353h96.918a9.322 9.322 0 0 0 9.285-8.476l.002-.037 9.324-110.258a9.324 9.324 0 0 0-9.287-10.135H568.245v-77.424l-.001-.204c0-18.246 14.792-33.038 33.038-33.038h73.979c5.103-.112 9.213-4.218 9.324-9.312v-110.27-.002a9.525 9.525 0 0 0-9.312-9.523H549.802c-74.055.115-134.06 60.117-134.175 134.163v106.419h-66.684a9.324 9.324 0 0 0-9.528 9.322V499.838c.114 5.172 4.333 9.324 9.523 9.324h66.685z"></path></svg>
				</div>
				<div>
					<svg viewBox="0 0 1024 1024"><path d="M752.064 316.859c0 24.009-19.463 43.472-43.472 43.472s-43.472-19.463-43.472-43.472 19.463-43.472 43.472-43.472 43.472 19.463 43.472 43.472zM514.995 329.224c-100.945 0-182.776 81.832-182.776 182.776s81.832 182.776 182.776 182.776c100.945 0 182.776-81.832 182.776-182.776-.11-100.901-81.877-182.668-182.767-182.776h-.009zm0 299.86c-64.665 0-117.084-52.421-117.084-117.084s52.421-117.084 117.084-117.084c64.665 0 117.084 52.421 117.084 117.084-.11 64.621-52.466 116.976-117.075 117.084h-.01z"></path><path d="M660.095 883.156H363.711c-123.094-.111-222.854-99.868-222.965-222.953V363.809c.111-123.094 99.868-222.854 222.953-222.965h296.394c123.178 0 223.047 99.8 223.157 222.953v296.394c-.111 123.162-99.979 222.965-223.157 222.965zM363.713 210.593c-84.574.11-153.105 68.641-153.216 153.204v296.394c.11 84.574 68.641 153.105 153.204 153.216h296.394c84.574-.11 153.105-68.641 153.216-153.204V363.809c-.11-84.574-68.641-153.105-153.204-153.216h-.01z"></path></svg>
				</div>
				<div>
					<svg viewBox="0 0 1024 1024"><path d="M922.529 403.32c0-98.718-80.028-178.746-178.746-178.746H280.221c-98.718 0-178.746 80.028-178.746 178.746v217.36c0 98.718 80.028 178.746 178.746 178.746h463.562c98.718 0 178.746-80.028 178.746-178.746zM629.991 523.015L445.11 624.313c-7.947 4.314-15.217-1.363-15.217-10.449V405.59c0-9.311 7.494-14.988 15.446-10.449l186.24 106.747c3.353 2.174 5.537 5.897 5.537 10.132 0 4.87-2.892 9.066-7.054 10.96l-.075.032z"></path></svg>
				</div>
				<div>
					<svg viewBox="0 0 1024 1024"><path d="M664.019 178.096c-.49.316-1.088.505-1.734.505s-1.239-.188-1.744-.511l.015.006z"></path><path d="M921.268 254.303c-24.053 10.367-52.034 18.431-81.213 22.853l-1.915.238c13.395-2.311 33.022-26.558 41.106-36.485 11.827-14.136 21.324-30.705 27.608-48.779l.335-1.102c.488-.593.784-1.359.784-2.192s-.296-1.599-.787-2.202l.004.005a4.863 4.863 0 0 0-4.415.01l.026-.015c-28.449 15.458-61.429 28.434-96.074 37.228l-2.991.642a6.405 6.405 0 0 1-1.896.283 6.456 6.456 0 0 1-4.795-2.126l-.004-.004a79.003 79.003 0 0 0-8.668-8.686l-.106-.088c-13.653-11.856-29.452-21.727-46.656-28.903l-1.145-.424c-18.686-7.801-40.395-12.337-63.169-12.337-3.694 0-7.362.121-10.995.356l.494-.025c-25.627 1.947-49.198 9.068-70.225 20.322l.949-.464c-22.235 11.832-40.964 27.315-56.086 45.855l-.258.325c-15.285 18.844-26.859 41.366-33.216 65.981l-.269 1.215c-2.824 12.102-4.441 25.995-4.441 40.268 0 10.898.942 21.578 2.756 31.96l-.162-1.105c0 3.926 0 4.616-3.463 3.926-135.782-20.09-248.475-69.276-339.919-172.962-4.158-4.616-6.237-4.616-9.469 0-39.948 60.038-20.553 156.336 29.327 203.905 6.695 6.237 13.627 12.469 21.016 18.243-24.211-1.742-46.53-8.288-66.527-18.689l.942.447c-4.158-2.542-6.005-1.153-6.463 3.232a116.031 116.031 0 0 0 1.232 20.262l-.079-.634c8.702 63.116 50.072 114.85 106.222 138.131l1.16.425c5.878 3.167 12.76 6.069 19.933 8.311l.852.231c-11.369 2.315-24.443 3.638-37.823 3.638-9.383 0-18.61-.653-27.648-1.911l1.043.121c-4.616 0-6.463 1.616-4.616 6.005 28.174 77.128 89.366 100.218 135.088 113.382 6.237 0 12.469 0 18.474 2.311h-1.153c-15.011 23.09-67.66 40.412-92.371 48.954-33.04 12.231-71.202 19.306-111.018 19.306-10.262 0-20.415-.47-30.444-1.388l1.289.093h-11.084c-2.078 0 0 3 2.079 5.079 9.469 6.237 19.395 11.779 29.327 17.321 26.775 14.575 57.894 27.328 90.48 36.611l3.275.8c168.341 46.185 358.162 12.237 484.939-113.382 99.297-98.603 134.167-234.848 134.167-371.094 0-5.311 6.237-8.311 10.158-11.084 25.208-19.873 46.863-42.7 64.9-68.257l.681-1.018a20.165 20.165 0 0 0 4.157-13.205l.001.041c0-2.079.232-1.384-3.232.232z"></path></svg>
				</div>
				<div>
					<svg viewBox="0 0 1024 1024"><path d="M554.386 460.193v-1.489c-.249.498-.742.991-.991 1.489z"></path><path d="M554.386 460.193v-1.489c-.249.498-.742.991-.991 1.489z"></path><path d="M319.647 848.618H168.689V394.256h150.958zm-75.603-516.33h-.991c-50.568 0-83.536-34.951-83.536-78.577 0-44.617 33.711-78.577 85.519-78.577s83.536 33.959 84.527 78.577c0 43.626-32.72 78.577-85.519 78.577zm620.439 516.33H713.277V605.449c0-60.977-21.813-102.621-76.594-102.621-41.644 0-66.43 28.009-77.585 55.275-3.965 9.667-4.956 23.302-4.956 36.933v253.827H402.936s1.982-411.727 0-454.362h151.206v64.448c20.08-30.986 55.772-75.106 136.087-75.106 99.399 0 174.011 64.945 174.011 204.499v260.272z"></path></svg>
				</div>
			</div>
			<div class='stores'>
				<div>
					<svg viewBox="0 0 161 54.01"><defs><style>.axsc-2-0{fill:#fff}</style></defs><g id="axsi-2-1" data-name="Capa 2"><g id="axsi-2-0" data-name="Layer 1"><rect x="1" y="1" width="159" height="52.01" rx="7.03" fill="none" stroke="#fff" stroke-miterlimit="10" stroke-width="2"></rect><rect x="1" y="1" width="159" height="52.01" rx="7.03"></rect><path class="axsc-2-0" d="M42.46 35.38a25.46 25.46 0 0 1-2.33 4.35c-1.51 2.3-3.64 5.17-6.28 5.19-2.35 0-3-1.53-6.13-1.51s-3.85 1.54-6.2 1.51c-2.64 0-4.66-2.61-6.17-4.91-4.23-6.44-4.67-14-2.07-18a9.38 9.38 0 0 1 7.53-4.52c2.8 0 4.56 1.53 6.87 1.53s3.62-1.53 6.85-1.53a9.15 9.15 0 0 1 6.89 3.63 7.88 7.88 0 0 0 1.04 14.26z"></path><path class="axsc-2-0" d="M32.08 14.9a7.83 7.83 0 0 0 1.74-5.81A8.48 8.48 0 0 0 28.34 12a7.31 7.31 0 0 0-1.79 5.68 7.18 7.18 0 0 0 5.53-2.78zM55.34 21.91l-6.05 17.83h2.77l1.81-5.48h5.86l1.86 5.48h2.86l-6.09-17.83zm1.44 2.93c.21.79.43 1.62.71 2.51l1.63 4.73h-4.64l1.61-4.76c.24-.77.48-1.6.69-2.48zM72.28 26.53a5.07 5.07 0 0 0-4.29 2l-.1-1.77h-2.47V27c.08 1.1.11 2.32.11 4.06v13.79h2.7v-6.42A4.69 4.69 0 0 0 71.92 40 5.57 5.57 0 0 0 76 38.28a7.38 7.38 0 0 0 1.81-5.19 7.24 7.24 0 0 0-1.57-4.74 5.16 5.16 0 0 0-3.96-1.82zm-.67 2.23c2.41 0 3.48 2.23 3.48 4.44 0 2.84-1.37 4.61-3.58 4.61a3.27 3.27 0 0 1-3.18-2.5 3.58 3.58 0 0 1-.09-.87v-2.17a4.2 4.2 0 0 1 .08-.67v-.22a3.42 3.42 0 0 1 3.29-2.62zM86.17 26.53a5.06 5.06 0 0 0-4.28 2l-.11-1.77h-2.47v.23c.07 1.1.1 2.32.1 4.06v13.8h2.7v-6.42a4.69 4.69 0 0 0 3.7 1.57 5.57 5.57 0 0 0 4.09-1.74 7.38 7.38 0 0 0 1.81-5.19 7.24 7.24 0 0 0-1.57-4.74 5.16 5.16 0 0 0-3.97-1.8zm-.67 2.23c2.41 0 3.5 2.24 3.5 4.44 0 2.84-1.37 4.61-3.58 4.61a3.28 3.28 0 0 1-3.18-2.5 3.58 3.58 0 0 1-.09-.87v-2.17a4.2 4.2 0 0 1 .08-.67 1.7 1.7 0 0 0 0-.22 3.42 3.42 0 0 1 3.27-2.62zM103.58 29.46c-2.52-1-3.33-1.74-3.33-3.16 0-1.19 1-2.39 3.07-2.39a6.12 6.12 0 0 1 3.17.79l.23.14.76-2.25-.15-.09a7.91 7.91 0 0 0-3.93-.88c-3.44 0-5.85 2-5.85 4.94 0 2.34 1.51 4 4.74 5.16 2.29.85 3.14 1.73 3.14 3.23 0 1.7-1.31 2.76-3.43 2.76a7.4 7.4 0 0 1-3.89-1.1l-.23-.15-.72 2.3.13.09a9.23 9.23 0 0 0 4.56 1.15c4.63 0 6.28-2.83 6.28-5.25s-1.32-4.01-4.55-5.29zM113 23.74l-2.64.83v2.24h-1.96V29h1.94v6.6a5 5 0 0 0 .93 3.42 3.44 3.44 0 0 0 2.61 1 6.41 6.41 0 0 0 2.12-.32l.15-.06-.15-2.16-.26.08a3.87 3.87 0 0 1-1.25.15c-1 0-1.5-.66-1.5-2.22V29h3.26v-2.19H113zM122.92 26.53c-3.77 0-6.41 2.81-6.41 6.85s2.55 6.62 6.21 6.62c3.09 0 6.41-2.15 6.41-6.88a6.79 6.79 0 0 0-1.72-4.77 6 6 0 0 0-4.49-1.82zm-.07 2.13c2.42 0 3.53 2.36 3.53 4.56 0 2.71-1.51 4.67-3.59 4.67-2 0-3.53-1.93-3.53-4.59-.02-2.3 1.09-4.64 3.59-4.64zM137.42 26.65h-.17a2.51 2.51 0 0 0-.67-.08 3.84 3.84 0 0 0-3.38 2.17l-.08-1.89h-2.42v.23c.07 1.07.1 2.27.1 3.88v8.82h2.7v-6.92a8.54 8.54 0 0 1 .07-1.05 3 3 0 0 1 2.84-2.71h1.02zM143.48 26.5c-3.59 0-6.1 2.87-6.1 7s2.5 6.51 6.36 6.51a10.25 10.25 0 0 0 4.27-.82l.16-.07-.52-2-.22.09a8.33 8.33 0 0 1-3.38.61 3.75 3.75 0 0 1-4-3.92h8.71v-.17a5.64 5.64 0 0 0 .08-1.13c-.01-2.81-1.41-6.1-5.36-6.1zm-.18 2.05a2.67 2.67 0 0 1 2 .76 3.83 3.83 0 0 1 .93 2.51h-6.15c.23-1.56 1.2-3.27 3.22-3.27zM49.29 6.29a16.23 16.23 0 0 1 2.47-.19 5.15 5.15 0 0 1 3.66 1.13 4.15 4.15 0 0 1 1.27 3.23 4.78 4.78 0 0 1-1.3 3.54 5.56 5.56 0 0 1-4 1.3 18 18 0 0 1-2.11-.11zm1.16 8a6.66 6.66 0 0 0 1.18.07 3.47 3.47 0 0 0 3.84-3.83C55.48 8.38 54.28 7 51.82 7a6.3 6.3 0 0 0-1.37.13zM59.47 6.89a.69.69 0 0 1-.74.72.7.7 0 0 1-.73-.72.71.71 0 0 1 .73-.73.7.7 0 0 1 .74.73zm-1.31 8.3V8.71h1.18v6.48zM61.13 14a3.09 3.09 0 0 0 1.56.47c.85 0 1.25-.43 1.25-1s-.33-.87-1.2-1.19c-1.16-.4-1.74-1.04-1.74-1.82a2 2 0 0 1 2.23-1.9 3.14 3.14 0 0 1 1.62.44l-.29.85a2.5 2.5 0 0 0-1.32-.37c-.7 0-1.09.4-1.09.88s.39.78 1.23 1.1c1.13.43 1.7 1 1.7 2 0 1.14-.88 1.94-2.42 1.94a3.68 3.68 0 0 1-1.82-.44zM66.6 10.82c0-.82 0-1.49-.06-2.11h1.06l.05 1.11A2.54 2.54 0 0 1 70 8.56c1.57 0 2.74 1.33 2.74 3.3 0 2.32-1.41 3.47-2.94 3.47a2.26 2.26 0 0 1-2-1v3.52h-1.2zm1.16 1.73a3.37 3.37 0 0 0 0 .48 1.83 1.83 0 0 0 1.77 1.38c1.24 0 2-1 2-2.5 0-1.3-.69-2.41-1.93-2.41a1.89 1.89 0 0 0-1.76 1.5 1.93 1.93 0 0 0-.08.48zM80.07 11.9a3.16 3.16 0 0 1-3.22 3.43 3.07 3.07 0 0 1-3.1-3.33A3.16 3.16 0 0 1 77 8.56a3.07 3.07 0 0 1 3.07 3.34zm-5.13.1c0 1.42.81 2.49 2 2.49s2-1.06 2-2.51c0-1.1-.55-2.49-1.94-2.49s-2.06 1.24-2.06 2.51zM81.56 10.46V8.71h1l.07 1.07a2.39 2.39 0 0 1 2.14-1.22c.89 0 2.28.54 2.28 2.76v3.87H85.9v-3.74c0-1-.39-1.91-1.5-1.91a1.67 1.67 0 0 0-1.58 1.21 1.71 1.71 0 0 0-.08.54v3.9h-1.18zM90.3 6.89a.69.69 0 0 1-.75.72.7.7 0 0 1-.71-.72.72.72 0 0 1 .74-.73.7.7 0 0 1 .72.73zm-1.3 8.3V8.71h1.18v6.48zM100.12 5.69h1.18v9.5h-1.18zM92.14 15.19v-9.5h1.17v4.06a2.43 2.43 0 0 1 2.21-1.19c1.61 0 2.74 1.34 2.73 3.31 0 2.31-1.46 3.46-2.9 3.46a2.31 2.31 0 0 1-2.17-1.21v1.07zm1.22-2.6a2 2 0 0 0 0 .43 1.82 1.82 0 0 0 1.77 1.38c1.23 0 2-1 2-2.49 0-1.3-.67-2.41-1.92-2.41a1.88 1.88 0 0 0-1.79 1.5 2.84 2.84 0 0 0-.06.48zM103.55 12.16a2.08 2.08 0 0 0 2.23 2.25 4.38 4.38 0 0 0 1.79-.33l.2.84a5.2 5.2 0 0 1-2.15.4 3 3 0 0 1-3.19-3.26c0-2 1.15-3.5 3-3.5 2.11 0 2.67 1.86 2.67 3a3.35 3.35 0 0 1 0 .55zm3.46-.84a1.68 1.68 0 0 0-1.63-1.91 1.94 1.94 0 0 0-1.81 1.91zM113.1 12.16a2.07 2.07 0 0 0 2.22 2.25 4.38 4.38 0 0 0 1.79-.33l.2.84a5.16 5.16 0 0 1-2.15.4 3 3 0 0 1-3.16-3.26c0-2 1.15-3.5 3-3.5 2.12 0 2.68 1.86 2.68 3a5.07 5.07 0 0 1 0 .55zm3.45-.84a1.68 1.68 0 0 0-1.63-1.91 2 2 0 0 0-1.81 1.91zM119.15 10.46c0-.66 0-1.21-.05-1.75h1l.07 1.07a2.42 2.42 0 0 1 2.15-1.22c.89 0 2.28.54 2.28 2.76v3.87h-1.17v-3.74c0-1-.39-1.91-1.5-1.91a1.67 1.67 0 0 0-1.58 1.21 1.71 1.71 0 0 0-.08.54v3.9h-1.18z"></path></g></g></svg>
				</div>
				<div>
					<svg viewBox="0 0 161 54.01"><defs><linearGradient id="axsi-64-3" x1="21.81" y1="11.01" x2="21.81" y2="46.23" gradientUnits="userSpaceOnUse"><stop offset="0" stop-color="#2079b0"></stop><stop offset=".32" stop-color="#4a98b5"></stop><stop offset=".78" stop-color="#81bfbc"></stop><stop offset="1" stop-color="#97cfbf"></stop></linearGradient><linearGradient id="axsi-64-2" x1="12.93" y1="19.75" x2="35.46" y2="19.75" gradientUnits="userSpaceOnUse"><stop offset="0" stop-color="#5abcab"></stop><stop offset="1" stop-color="#e6e99a"></stop></linearGradient><linearGradient id="axsi-64-1" x1="24.19" y1="28.62" x2="24.19" y2="46.36" gradientUnits="userSpaceOnUse"><stop offset="0" stop-color="#e53432"></stop><stop offset=".18" stop-color="#d43745"></stop><stop offset=".73" stop-color="#a33e7c"></stop><stop offset="1" stop-color="#904192"></stop></linearGradient><linearGradient id="axsi-64-0" x1="37.17" y1="23.89" x2="37.17" y2="33.35" gradientUnits="userSpaceOnUse"><stop offset="0" stop-color="#f18779"></stop><stop offset=".64" stop-color="#f9b575"></stop><stop offset="1" stop-color="#fdcb73"></stop></linearGradient><clipPath id="axsi-64-4"><path d="M35.46 23.89l-7.17-4.14-13.83-8c-.77-.44-1.53-.18-1.53.75v32.55c0 .7.54 1 1.21.61l14.15-8.17 7.17-4.14 6.89-4c.81-.47.73-1.11 0-1.48s-6.89-3.98-6.89-3.98z" fill="none"></path></clipPath><style>.axsc-64-1{fill:#f9f9f9}.axsc-64-0{fill:#fff}</style></defs><g id="axsi-64-7" data-name="Capa 2"><g id="axsi-64-6" data-name="Layer 1"><rect x="1" y="1" width="159" height="52.01" rx="7.03" stroke="#fff" stroke-miterlimit="10" stroke-width="2" fill="none"></rect><rect x="1" y="1" width="159" height="52.01" rx="7.03"></rect><g clip-path="url(#axsi-64-4)" id="axsi-64-5"><path fill="url(#axsi-64-3)" d="M12.93 11.01v35.22l17.76-17.61-17.76-17.61z"></path><path fill="url(#axsi-64-2)" d="M35.46 23.89l-7.17-4.14-15.36-8.87v.13l17.76 17.61 4.77-4.73z"></path><path fill="url(#axsi-64-1)" d="M12.93 46.23v.13l15.36-8.87 7.17-4.14-4.77-4.73-17.76 17.61z"></path><path fill="url(#axsi-64-0)" d="M35.46 23.89l-4.77 4.73 4.77 4.73 8.19-4.73-8.19-4.73z"></path></g><path class="axsc-64-1" d="M124.74 35.51a4.4 4.4 0 0 1-1.83-.37 3.37 3.37 0 0 1-1.38-1.14h-.12a13 13 0 0 1 .12 1.71v4.21H120V25.08h1.26l.21 1.4h.08a3.6 3.6 0 0 1 1.39-1.21 4.23 4.23 0 0 1 1.82-.38 3.82 3.82 0 0 1 3.15 1.39 6.21 6.21 0 0 1 1.1 3.91 6.1 6.1 0 0 1-1.12 3.92 3.8 3.8 0 0 1-3.15 1.4zm-.22-9.3a2.73 2.73 0 0 0-2.27.87 4.44 4.44 0 0 0-.72 2.77v.34a5.13 5.13 0 0 0 .72 3.09 2.73 2.73 0 0 0 2.3.93 2.4 2.4 0 0 0 2.08-1.07 5.06 5.06 0 0 0 .76-3 4.88 4.88 0 0 0-.76-2.94 2.46 2.46 0 0 0-2.11-.99zM132.59 35.32H131V20.78h1.56zM141.51 35.32l-.31-1.46h-.08a4.26 4.26 0 0 1-1.53 1.31 4.58 4.58 0 0 1-1.9.34 3.41 3.41 0 0 1-2.39-.79 2.86 2.86 0 0 1-.86-2.23q0-3.11 5-3.25l1.74-.06v-.63a2.56 2.56 0 0 0-.52-1.78 2.1 2.1 0 0 0-1.66-.58 6.64 6.64 0 0 0-2.89.79l-.48-1.19a7.65 7.65 0 0 1 1.66-.65 7.42 7.42 0 0 1 1.81-.23 3.9 3.9 0 0 1 2.71.81 3.42 3.42 0 0 1 .88 2.61v7zM138 34.23a3.17 3.17 0 0 0 2.28-.8 2.92 2.92 0 0 0 .82-2.22v-.93l-1.55.07a5.62 5.62 0 0 0-2.67.58 1.72 1.72 0 0 0-.81 1.58 1.59 1.59 0 0 0 .51 1.28 2.12 2.12 0 0 0 1.42.44zM143.56 25.08h1.66l2.24 5.84a23 23 0 0 1 .92 2.89h.07c.08-.32.25-.86.51-1.63s1.11-3.14 2.54-7.1h1.66l-4.4 11.66a5.72 5.72 0 0 1-1.53 2.46 3.26 3.26 0 0 1-2.14.72 6 6 0 0 1-1.4-.16v-1.24a5.68 5.68 0 0 0 1.15.11 2.38 2.38 0 0 0 2.28-1.79l.57-1.46zM96 26a3.5 3.5 0 0 1-.28 6 1.47 1.47 0 0 0-.6 1.05 1.18 1.18 0 0 0 .56.92l.77.6c1 .79 1.8 1.52 1.8 3 0 2-2 4.05-5.63 4.05-3.11 0-4.61-1.48-4.61-3.07a3.09 3.09 0 0 1 1.65-2.61 9.23 9.23 0 0 1 4.09-1 2.23 2.23 0 0 1-.64-1.45 2 2 0 0 1 .21-.84h-.68a3.39 3.39 0 0 1-3.56-3.36 3.84 3.84 0 0 1 1.37-2.87 5.83 5.83 0 0 1 3.84-1.18h4.41l-1.37.76zm-1.52 9.51a3.7 3.7 0 0 0-.49 0 8.71 8.71 0 0 0-2.25.35 2.4 2.4 0 0 0-1.84 2.2c0 1.52 1.47 2.62 3.77 2.62 2 0 3.15-1 3.15-2.32 0-1.08-.71-1.66-2.34-2.82zm.62-4.07a2.18 2.18 0 0 0 .54-1.56c0-1.54-.92-3.94-2.7-3.94a2 2 0 0 0-1.5.7 2.45 2.45 0 0 0-.44 1.62c0 1.43.83 3.81 2.68 3.81a2.15 2.15 0 0 0 1.42-.6zM82.51 35.2a5 5 0 0 1-5.21-5.05A5.29 5.29 0 0 1 82.84 25 5 5 0 0 1 88 30a5.23 5.23 0 0 1-5.49 5.2zm2.68-1.73a3.91 3.91 0 0 0 .64-2.38c0-1.88-.9-5.47-3.55-5.47a3 3 0 0 0-1.93.73 3.24 3.24 0 0 0-1 2.61c0 2.11 1 5.6 3.64 5.6a2.75 2.75 0 0 0 2.2-1.09zM70.92 35.2a5 5 0 0 1-5.22-5.05A5.3 5.3 0 0 1 71.24 25a5 5 0 0 1 5.11 5 5.22 5.22 0 0 1-5.43 5.2zm2.67-1.73a3.85 3.85 0 0 0 .65-2.38c0-1.88-.9-5.47-3.55-5.47a3 3 0 0 0-1.93.73 3.24 3.24 0 0 0-1 2.61c0 2.11 1 5.6 3.63 5.6a2.73 2.73 0 0 0 2.2-1.09zM64.07 34.87l-3.07.71a23.22 23.22 0 0 1-3.55.36c-5.93 0-8.19-4.37-8.19-7.79 0-4.17 3.2-8 8.69-8a12.39 12.39 0 0 1 3.29.45 8.7 8.7 0 0 1 2.84 1.34l-1.79 1.7-.75.17.54-.86a6.15 6.15 0 0 0-4.6-2c-3.4 0-6 2.58-6 6.34a7.6 7.6 0 0 0 7.61 7.85 6.34 6.34 0 0 0 2.73-.54v-3.52l-3.25.17 1.72-.92h4.56l-.55.53a.49.49 0 0 0-.22.35v1z"></path><path class="axsc-64-1" d="M102.8 34.25c-.71-.07-.86-.2-.86-1V21a.61.61 0 0 0 0-.14c.09-.75.3-.88 1-1.27h-3.09l-1.62.78h1.64v13.32c0 .43-.08.49-.58 1.14h3.81l.8-.48zM111.55 34.44c-.23.13-.47.28-.7.39a5 5 0 0 1-2.08.4 4.55 4.55 0 0 1-2.84-.83 5.53 5.53 0 0 1-2.17-4.51 4.84 4.84 0 0 1 4.89-4.89 4.11 4.11 0 0 1 2.2.6 3.55 3.55 0 0 1 1.49 2.11l-5 2-1.64.13c.53 2.71 2.37 4.29 4.4 4.29a5.5 5.5 0 0 0 2.6-.74zm-2-6.36c.41-.15.62-.28.62-.58a2.12 2.12 0 0 0-2.11-1.83 2.63 2.63 0 0 0-2.46 3c0 .37 0 .75.07 1.14zM113.61 25.11v1.41h-.17v-1.41H113V25h1.11v.15zM115.53 26.52v-1.43l-.43 1.43h-.1l-.44-1.43v1.43h-.15V25h.26l.4 1.26.39-1.26h.27v1.56z"></path><path class="axsc-64-0" d="M48.28 6.35a16.23 16.23 0 0 1 2.47-.19 5.2 5.2 0 0 1 3.66 1.12 4.17 4.17 0 0 1 1.27 3.24 4.8 4.8 0 0 1-1.3 3.48 5.56 5.56 0 0 1-4 1.29 20.73 20.73 0 0 1-2.11-.1zm1.16 8a7.86 7.86 0 0 0 1.18.07 3.47 3.47 0 0 0 3.84-3.83c0-2.13-1.19-3.48-3.65-3.48a7.25 7.25 0 0 0-1.37.12zM58.47 7A.73.73 0 0 1 57 7a.72.72 0 0 1 .73-.74.71.71 0 0 1 .74.74zm-1.31 8.29V8.77h1.17v6.47zM60.13 14a3 3 0 0 0 1.55.47c.85 0 1.26-.43 1.26-1s-.34-.86-1.21-1.19c-1.16-.41-1.71-1-1.71-1.83a2 2 0 0 1 2.23-1.9 3.32 3.32 0 0 1 1.6.4l-.3.86a2.5 2.5 0 0 0-1.32-.38c-.7 0-1.09.41-1.09.89s.39.77 1.23 1.09c1.13.43 1.7 1 1.7 2 0 1.14-.88 1.94-2.42 1.94a3.79 3.79 0 0 1-1.82-.44zM65.59 10.88c0-.83 0-1.5-.06-2.11h1.06l.06 1.11A2.55 2.55 0 0 1 69 8.62c1.57 0 2.75 1.33 2.75 3.29 0 2.33-1.42 3.48-3 3.48a2.26 2.26 0 0 1-2-1v3.52h-1.16zm1.16 1.73a2.42 2.42 0 0 0 .06.48 1.81 1.81 0 0 0 1.76 1.38c1.25 0 2-1 2-2.5 0-1.3-.68-2.41-1.93-2.41A1.88 1.88 0 0 0 66.83 11a1.85 1.85 0 0 0-.08.48zM79.07 12a3.16 3.16 0 0 1-3.23 3.44 3.07 3.07 0 0 1-3.1-3.33A3.16 3.16 0 0 1 76 8.62 3.07 3.07 0 0 1 79.07 12zm-5.14 0c0 1.42.81 2.49 2 2.49s2-1.06 2-2.52c0-1.09-.55-2.49-1.94-2.49s-2.06 1.31-2.06 2.52zM80.55 10.52V8.77h1l.07 1.07a2.37 2.37 0 0 1 2.14-1.22c.89 0 2.29.54 2.29 2.76v3.86h-1.16v-3.73c0-1-.39-1.91-1.5-1.91a1.67 1.67 0 0 0-1.58 1.2 1.82 1.82 0 0 0-.08.55v3.89h-1.18zM89.29 7a.69.69 0 0 1-.75.72.7.7 0 0 1-.71-.72.72.72 0 0 1 .74-.74.7.7 0 0 1 .72.74zM88 15.24V8.77h1.18v6.47zM99.12 5.74h1.17v9.5h-1.17zM91.13 15.24c0-.44.05-1.09.05-1.67V5.74h1.17v4.07a2.4 2.4 0 0 1 2.2-1.19c1.61 0 2.75 1.34 2.73 3.31 0 2.31-1.46 3.46-2.9 3.46a2.3 2.3 0 0 1-2.17-1.22v1.07zm1.22-2.59a3 3 0 0 0 .05.43 1.82 1.82 0 0 0 1.77 1.37c1.23 0 2-1 2-2.48 0-1.3-.66-2.41-1.92-2.41A1.89 1.89 0 0 0 92.41 11a3.14 3.14 0 0 0-.06.48zM102.55 12.22a2.07 2.07 0 0 0 2.22 2.25 4.19 4.19 0 0 0 1.79-.34l.2.85a5.33 5.33 0 0 1-2.15.4 3 3 0 0 1-3.19-3.27c0-1.95 1.15-3.49 3-3.49 2.11 0 2.68 1.86 2.68 3.05a5.29 5.29 0 0 1 0 .55zm3.45-.84a1.68 1.68 0 0 0-1.63-1.92 2 2 0 0 0-1.81 1.92zM112.09 12.22a2.08 2.08 0 0 0 2.22 2.25 4.19 4.19 0 0 0 1.79-.34l.21.85a5.43 5.43 0 0 1-2.16.4 3 3 0 0 1-3.15-3.27c0-1.95 1.15-3.49 3-3.49 2.12 0 2.68 1.86 2.68 3.05a5.29 5.29 0 0 1 0 .55zm3.45-.84a1.68 1.68 0 0 0-1.63-1.92 2 2 0 0 0-1.81 1.92zM118.14 10.52V8.77h1l.07 1.07a2.37 2.37 0 0 1 2.14-1.22c.89 0 2.28.54 2.28 2.76v3.86h-1.17v-3.73c0-1-.39-1.91-1.5-1.91a1.67 1.67 0 0 0-1.58 1.2 1.82 1.82 0 0 0-.08.55v3.89h-1.18z"></path></g></g></svg>
				</div>
				<div>
					<svg version="1.1" id="axsi-0-19" x="0" y="0" viewBox="0 0 137 38" xml:space="preserve"><style>.st0{fill:#b1b1b1}.st1{fill:#43aa34}.st2{fill:#fff}</style><g id="axsi-0-21" transform="translate(0 7.037)"><path id="axsi-0-4" class="st0" d="M.2 11.9c0-.9.1-1.7.4-2.5.3-.8.7-1.4 1.1-2s1-1 1.7-1.3c.6-.3 1.3-.5 2.1-.5.7 0 1.4.2 2 .5s1.1.8 1.6 1.3V5.7h3v12.4h-3v-1.7c-.5.6-1 1-1.6 1.3s-1.3.5-2 .5-1.4-.2-2.1-.5-1.2-.8-1.7-1.3c-.5-.6-.8-1.2-1.1-2-.3-.8-.4-1.6-.4-2.5zm3 0c0 .4.1.8.2 1.2.1.4.3.7.6 1 .3.3.6.5.9.7.4.1.8.2 1.2.2.4 0 .8-.1 1.1-.2.4-.2.7-.4.9-.7.3-.3.5-.6.6-1 .2-.4.2-.8.2-1.2 0-.4-.1-.8-.2-1.2-.2-.4-.4-.7-.6-1-.2-.2-.5-.4-.8-.6-.4-.2-.8-.2-1.2-.2-.4 0-.8 0-1.1.2-.4.2-.7.4-.9.7-.3.3-.5.6-.6 1-.2.3-.3.7-.3 1.1z"></path><path id="axsi-0-18" class="st0" d="M13.5 5.7h.8v-.1c0-.6.1-1.1.2-1.7s.4-1 .7-1.4c.3-.4.8-.7 1.3-.9.5-.2 1.2-.2 2-.1v2.4c-.4 0-.7.1-.9.3-.2.2-.3.5-.3 1v.5h1.4v2.6h-1.4v9.8h-3V8.3h-.8V5.7z"></path><path id="axsi-0-13" class="st0" d="M22.8 5.7v12.4h-3V5.7z"></path><path id="axsi-0-12" class="st1" d="M19.6 2.2c0-.5.2-1 .5-1.4s.8-.6 1.3-.6 1 .2 1.3.6c.3.4.5.8.5 1.4 0 .5-.2.9-.5 1.3s-.8.6-1.3.6-.9-.2-1.3-.6-.5-.8-.5-1.3z"></path><path id="axsi-0-11" class="st0" d="M27.8 2.2v15.9h-3V2.2z"></path><path id="axsi-0-10" class="st0" d="M32.5 5.7v12.4h-3V5.7z"></path><path id="axsi-0-9" class="st1" d="M29.3 2.2c0-.5.2-1 .5-1.4s.8-.6 1.3-.6 1 .2 1.3.6c.3.4.5.8.5 1.4 0 .5-.2.9-.5 1.3s-.8.6-1.3.6-.9-.2-1.3-.6-.5-.8-.5-1.3z"></path><path id="axsi-0-3" class="st0" d="M33.9 11.9c0-.9.1-1.7.4-2.5.3-.8.7-1.4 1.1-2s1-1 1.7-1.3c.6-.3 1.3-.5 2.1-.5.7 0 1.4.2 2 .5.6.3 1.1.8 1.6 1.3V5.7h3v12.4h-3v-1.7c-.5.6-1 1-1.6 1.3-.6.3-1.3.5-2 .5s-1.4-.2-2.1-.5c-.6-.3-1.2-.8-1.7-1.3-.5-.6-.8-1.2-1.1-2-.2-.8-.4-1.6-.4-2.5zm3.1 0c0 .4.1.8.2 1.2.1.4.3.7.6 1 .3.3.6.5.9.7.3.2.7.2 1.2.2.4 0 .8-.1 1.1-.2.4-.2.7-.4.9-.7.3-.3.5-.6.6-1 .2-.4.2-.8.2-1.2 0-.4-.1-.8-.2-1.2-.2-.4-.4-.7-.6-1-.3-.3-.6-.5-.9-.7-.4-.2-.7-.2-1.1-.2-.4 0-.8.1-1.2.2-.3.2-.7.4-.9.7-.3.3-.5.6-.6 1s-.2.8-.2 1.2z"></path><path id="axsi-0-2" class="st0" d="M46.9 11.9c0-.9.1-1.7.4-2.5.3-.8.7-1.4 1.1-2 .5-.6 1-1 1.7-1.3.6-.3 1.3-.5 2.1-.5.7 0 1.4.2 2 .5s1.1.7 1.6 1.3V2.2h3v15.9h-3v-1.6c-.5.5-1 1-1.6 1.3-.6.3-1.3.4-2 .4s-1.4-.2-2.1-.5c-.6-.3-1.2-.8-1.7-1.3-.5-.6-.8-1.2-1.1-2-.2-.8-.4-1.6-.4-2.5zm3 0c0 .4.1.8.2 1.2.1.4.3.7.6 1 .3.3.6.5.9.7s.7.2 1.2.2c.4 0 .7-.1 1.1-.2.3-.1.6-.3.9-.6.3-.2.5-.5.6-.8.2-.3.3-.7.3-1.1v-.8c0-.4-.2-.7-.3-1.1s-.4-.6-.6-.9l-.9-.6c-.3-.1-.7-.2-1.1-.2-.4 0-.8.1-1.2.2s-.7.4-.9.7c-.3.3-.5.6-.6 1-.1.5-.2.9-.2 1.3z"></path><path id="axsi-0-1" class="st0" d="M71.7 11.9c0 .9-.2 1.7-.5 2.4-.3.8-.7 1.4-1.3 2-.5.6-1.2 1-1.9 1.3-.7.3-1.5.5-2.3.5-.8 0-1.6-.2-2.3-.5s-1.4-.8-1.9-1.3c-.5-.6-1-1.2-1.3-2-.3-.8-.5-1.6-.5-2.4 0-.9.2-1.7.5-2.5s.7-1.4 1.3-2c.5-.6 1.2-1 1.9-1.3.7-.3 1.5-.5 2.3-.5.8 0 1.6.2 2.3.5.7.3 1.4.8 1.9 1.3.5.6 1 1.2 1.3 2 .3.8.5 1.7.5 2.5zm-3.1 0c0-.4-.1-.8-.2-1.2-.2-.4-.4-.7-.6-1-.3-.3-.6-.5-.9-.7s-.7-.2-1.1-.2c-.4 0-.8.1-1.1.2s-.7.4-.9.7c-.3.3-.5.6-.6 1-.2.4-.2.8-.2 1.2 0 .4.1.8.2 1.2.2.4.4.7.6 1 .3.3.6.5.9.7s.7.2 1.1.2c.4 0 .8-.1 1.1-.2s.7-.4.9-.7c.3-.3.5-.6.6-1 .2-.3.2-.7.2-1.2z"></path></g><path id="axsi-0-8" class="st1" d="M136.5 18v-.4c0-.2-.1-.5-.1-.7-.5-2.7-1.9-5.2-3.9-7.2-2.7-2.5-6-4-9.8-4-.1 0-.2.1-.2.2 0 2.5 2.8 3.1 3 3.1 1.8.4 3.2 1.3 4.8 2.8 1.9 1.8 2.9 3.9 3.1 6.2v.1h.1c.4.2 1 .2 1.5.2h.1c.4 0 .9-.1 1.4-.3z"></path><path id="axsi-0-7" class="st1" d="M122.6 9.9c-.1 0-.2.1-.2.2v.3c.2 1.9 2.1 3 2.2 3.1 1.7.9 2.8 2.6 2.9 4.7 0 0 .9.2 1.7.2.8 0 1.6-.2 1.6-.2-.1-2.2-.9-4.2-2.4-5.8-1.4-1.7-3.5-2.5-5.8-2.5z"></path><path id="axsi-0-6" class="st1" d="M122.7 15.5h-.1s-.1 0-.1.1v2.5s0 .1.1.1c.2 0 .7.1 1.3.1s1.2-.1 1.3-.1c0 0 .1 0 .1-.1v-.2c0-1.3-1.2-2.4-2.6-2.4z"></path><g id="axsi-0-20" transform="translate(73.185 12.667)"><path id="axsi-0-0" class="st2" d="M11.7.3H8.8c-.1 0-.2.1-.2.2v1.1c-.4-.4-.8-.7-1.3-.9C6.7.4 6 .2 5.3.2S3.9.4 3.2.7C2.6 1 2 1.5 1.6 2 1.1 2.6.7 3.2.5 3.9.2 4.6.1 5.4.1 6.3c0 .8.1 1.6.4 2.3s.6 1.4 1.1 1.9 1 1 1.7 1.3c.6.3 1.3.5 2.1.5.7 0 1.4-.2 2-.5.5-.2.9-.5 1.3-.9V12c0 .1.1.2.2.2h2.9c.1 0 .2-.1.2-.2V.5c-.1-.1-.2-.2-.3-.2zM5.9 8.9c-.4 0-.7-.1-1-.2-.3-.1-.6-.3-.8-.5-.3-.3-.5-.6-.6-.9-.1-.3-.2-.7-.2-1 0-.4.1-.7.2-1.1.1-.3.3-.6.6-.9.2-.2.5-.4.8-.6.3-.1.7-.2 1-.2.4 0 .7.1 1 .2.3.1.6.3.8.6.3.3.5.6.6.9.1.3.2.7.2 1 0 .4-.1.7-.2 1-.1.4-.3.7-.5 1-.3.2-.5.4-.9.5-.3.2-.6.2-1 .2z"></path><path id="axsi-0-5" class="st2" d="M27.3 1.5c-.3-.4-.7-.7-1.2-1-.5-.2-1-.3-1.5-.3-.7 0-1.3.1-1.8.4-.4.2-.8.6-1.1 1-.3-.4-.6-.7-1-1-.5-.3-1.1-.5-1.7-.5-.8 0-1.6.3-2.2.8V.5c0-.1-.1-.2-.2-.2h-2.9c-.1 0-.2.1-.2.2V12c0 .1.1.2.2.2h2.9c.1 0 .2-.1.2-.2V5.2c0-.6.1-1 .3-1.2.2-.2.4-.4.6-.4.2-.1.3-.1.5-.1s.4.1.5.2c.3 0 .4.1.5.3.1.2.1.4.1.6V12c0 .1.1.2.2.2h2.9c.1 0 .2-.1.2-.2V5.2c0-.6.1-1 .3-1.3.2-.2.4-.4.6-.5.2-.1.3-.1.5-.1s.3.1.5.2.3.2.4.4c.1.2.1.4.1.6V12c0 .1.1.2.2.2h2.9c.1 0 .2-.1.2-.2V4.6c0-.6-.1-1.2-.3-1.7-.1-.5-.3-1-.7-1.4z"></path><path id="axsi-0-17" class="st2" d="M40.4.4l-.1-.1h-3.1c-.1 0-.1 0-.2.1l-2.3 6.9L32.5.4c0-.1-.1-.1-.2-.1h-3.1c-.1 0-.1 0-.1.1v.2L33 12.2c0 .1.1.1.2.1h3.1c.1 0 .1 0 .2-.1L40.6.6c-.2-.1-.2-.2-.2-.2z"></path></g><path id="axsi-0-16" class="st1" d="M96.3 1.9s17.2 6.2 18.7 6.8c1.8.6 3.2-.4 3.2-.4L95.4 0l-3.9 11.3s1.4 0 2.2-1.8 2.6-7.6 2.6-7.6"></path><path id="axsi-0-15" class="st1" d="M115.5 26.7l-3.5 9.5L87.8 28l.3-.9h-1.6l-.6 1.8L113 38l3.8-10.4z"></path><path id="axsi-0-14" class="st2" d="M129.2 19.4c-.9 0-1.7-.1-1.7-.1v.1c0 .2-.1.4-.1.6 0 .1-.1.2-.1.3 0 .1-.1.2-.1.3v.1c0 .1-.1.2-.1.3-.1.1-.1.2-.2.3-.1.1-.1.2-.2.3-.1.1-.1.2-.2.3l-.2.2c-.1.1-.2.1-.3.2h-.1c-.1.1-.2.1-.3.2h-.1c-.1.1-.2.1-.3.2-.1.1-.2.1-.3.2-.1.1-.2.1-.4.1-.1 0-.3.1-.4.1-.1 0-.3.1-.4.1h-.1c-.1 0-.3 0-.4.1h-.6c-3.5 0-5.1-2.5-5.1-4.7 0-1.7.9-3.9 3.5-4.5.7-.2 1.1-.8 1.1-1.5 0-.9-.8-1.6-1.7-1.6-.2 0-.3 0-.5.1-1.8.5-3 1.5-3.7 2.2-1.3 1.4-2.1 3.4-2.1 5.3s.8 3.9 2.1 5.3c1.1 1.2 3.1 2.5 6.3 2.5 3.3 0 5.3-1.4 6.3-2.5l.3-.3s0-.1.1-.1c.1-.1.2-.2.2-.3.1-.1.2-.3.3-.4v-.1c.1-.1.1-.2.2-.3v-.1c.1-.2.1-.3.2-.4.1-.1.1-.3.2-.4v-.1c0-.1.1-.2.1-.4 0-.1.1-.3.1-.4.1-.4.1-.8.2-1.1v-.1c.2-.1-.6 0-1.5 0z"></path></svg>
				</div>
			</div>
		</div>
	</div>
</div>
<div class='history'>
	<p>
		<a href='#'>Políticas de Privacidad</a>&nbsp;|&nbsp;<a href='#'>Términos y Condiciones</a> 
		<span>Copyright © 20XX CAVAK. Todos los derechos reservados.</span>
	</p>
	<div>
		<h3>Historia de KAVAK</h3>
		<p>CAVAK es la plataforma online que ofrece una experiencia excepcional de compra y venta de autos seminuevos en 
			México con los mejores precios del mercado. Con KAVAK, la compra o venta de autos en México es más sencilla que 
			nunca, ya que puedes hacerlo desde la comodidad de tu computadora o smartphone. ¡Sin salir de casa!<br/><br/>
		Fue creada por un grupo de jóvenes emprendedores, que un día decidieron formar esta startup para revolucionar 
			la industria automotriz y ser mejores que cualquier agencia de autos en México.<br/><br/>
		Todos los autos seminuevos de KAVAK pasan por una inspección de 240 puntos en donde se revisa desde el historial
			vehicular, es decir, que no hayan tenido reporte de robo, que no tengan multas o adeudos de tenencias; 
			hasta la parte eléctrica, mecánica y estética. Si el auto no está en perfectas condiciones, no está en KAVAK. 
			Es por esto que sólo 1 de cada 3 autos que inspeccionamos pasa la prueba; en ese caso ofrecemos 3 tipos de oferta: 
			Oferta Inmediata, Oferta a 30 días y Oferta a Consignación.<br/><br/>
		Ofrecemos diversos planes de financiamiento para que consigas el auto que deseas con varias opciones de crédito
			automotriz. Cuando completas la compra, puedes buscar el auto en nuestras instalaciones o te lo podemos llevar 
			a domicilio sin ningún costo adicional. Recibirás tu auto impecable ya que se le realiza un detallado profesional
			donde se descontamina, pule y encera la pintura, se hace lavado de motor, rines y tolvas e interiores. <br/><br/>
		Todos nuestros coches seminuevos tienen una garantía de 3 meses. Adicionalmente, si no te enamoraste del coche,
			tienes 7 días o 300 kilómetros de prueba para devolverlo y te reembolsamos el 100% de tu dinero, sin ningún tipo
			de penalización.<br/><br/>
		En definitiva, KAVAK llegó a México para traer confianza, rapidez y seguridad al mercado automotriz. 
			Ahora con KAVAK, vender o comprar un auto es una experiencia increíble.</p>
	</div>
	<div>
		<svg xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 80 15"><g data-name="Layer 2"><image width="80" height="15" xlink:href="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAFAAAAAPCAIAAAD8q9/YAAAABGdBTUEAANbY1E9YMgAAAZ9JREFUSMflljFrwkAUx98H6J3N6KbXFjtJJZNIB+Ntds0kdIxDp3boTYJ0UDcLutxXOCfbpejQSRE5+g38CvcVrtCTNJVLiFAKaR4ZwvH+yf3yf+/lAHIYOjfxDTybi+jVvesCwGg0ssoopRjjKZ+Y5O3HtnBayISvduApn2CM42hD5splxeQv3hf9fj/DwI3rRrlcTq4NKSUAdG47RrKRm/ZNO6vACCNjr5SSEAIAlFKlFKUUAAghUkpjcs2thVU9fh5b58Lhy37eWxejKmtynOSwV9MA9556ALBcLrXWhBDf97XW7Cscx1FKcc6FEGYRYRRW9Wq9sj794CZhN3GZvyWxAz883gOAlFIpFZ1bvu+7rhutasYYxtioXt9e1tt1gsNWT+J2HPdp0kuOALY6TCkNgsA4zBjjnO8dRkc4nOCVtYzTOHyUJL6H0b6HhRCO4wBAEARhD7uuu9vttNatVqt6VU3Zw+mB/7qHZ3NRb9RLpVKOpvSUTxA6GQ6HCcCe551fnP2T/3A4ugaDgZW26TWLxWK2T1r5OkvnKj4Bfm7H+J/sGfMAAAAASUVORK5CYII=" data-name="Layer 1"></image></g></svg>
	</div>
</div>
