.banner {
  background-color: #000;
  color: #ffffff;
  font-weight: 400;
}
.container,
.container > div,
.social,
.stores {
  display: flex;
}

.container,
.history {
  width: 1110px;
}

.container {
  padding: 1.5rem 0 1rem;
  flex-direction: column;
  font-size: 0.95rem;
}

.container a:first-of-type {
  margin-left: 0;
}
.container a {
  color: #fff;
  margin: 0.5rem;
}

app-logo-svg {
  display: block;
  width: 7.5rem;
}

.container > div {
  align-items: center;
}
.container > div:first-of-type {
  justify-content: space-between;
  margin: 1rem 0;
}

.icons > a {
  flex-grow: 1;
}
.social > div {
  width: 2.25rem;
  height: 2.25rem;
  display: flex;
  border-radius: 50%;
  margin-right: 1rem;
  justify-content: center;
  background-color: #fff;
}
.social svg {
  width: 1.8rem;
}
.stores > div {
  width: 7rem;
  margin-right: 1rem;
}

.history {
  margin: auto auto 2.5rem;
  text-align: center;
  font-size: 1.1rem;
}

.history > p {
  display: flex;
  font-size: 0.875rem;
  font-family: sans-serif;
  margin: 1rem auto 1.5rem;
}
.history span:last-of-type {
  flex-grow: 1;
  font-size: 0.8rem;
  text-align: right;
}
.history a {
  color: #000;
}

.history > div:first-of-type {
  color: #43484c;
  line-height: 1.5;
  margin-top: 1rem;
}

.history > div h3 {
  font-size: 1.1rem;
  padding-top: 0.25rem;
}
.history > div p {
  margin: auto 2.5rem 3rem;
  text-align: justify;
}

.history > div:nth-of-type(2) {
  margin: 0 auto;
}
.history svg {
  width: 5rem;
}
