<section>
	<div class='container'>
		<h3>Vender tu auto en CAVAK es fácil, rapido y seguro</h3>
		<h4>En CAVAK puedes vender tu auto sin salir de casa. Es muy sencillo, sólo debes:</h4>
		<div class='d-flex justify-content-center align-items-center my-4'>
			<div class='list'>
				<div class='d-flex sec'>
					<div class='step_number'><span>1</span></div>
					<div><p>
						<b>Ingresar los datos de tu auto para recibir una oferta al instante</b><br/>
						sólo necesitas el año, modelo, versión y kilometraje para poder valuar tu auto
						</p>
					</div>
				</div>
				<div class='d-flex sec'>
					<div class='step_number'><span>2</span></div>
					<div><p>
						<b>Elegir la oferta que más te convenga</b><br/>
						En la cotización puedes recibir hasta 4 ofertas: pago al instante, dejar tu auto a cuenta, pago a consignación y monto a crédito. Te recomendamos la oferta de dejar tu auto a cuenta porque recibes más por tu auto y puedes estrenar otro.
						</p>
					</div>
				</div>
				<div class='d-flex sec'>
					<div class='step_number'><span>3</span></div>
					<div><p>
						<b>Seleccionar el lugar y la hora que mejor te acomode para la inspección</b><br/>
						La inspección puede ser en tu oficina o domicilio. Si tu auto pasa nuestra inspección te lo compramos al instante.
						</p>
					</div>
				</div>
			</div>
			<div class='slide'>
				<img src="../../assets/Captura de pantalla de 2020-11-02 09-10-14.png" alt="">
			</div>
		</div>
		<button>Cotizar mi auto</button>
	</div>
</section>