section {
  font-family: sans-serif;
  color: #4f484c;
  background-color: #f2f2f2;
}
.container {
  display: flex;
  flex-direction: column;
  max-width: 1110px;
  padding: 1.5rem 0;
  justify-content: center;
}
h3,
h4 {
  text-align: center;
}
h3 {
  font-size: 2.5rem;
  font-weight: 600;
  margin-bottom: 0.25rem;
}
h4 {
  font-size: 1.3rem;
  margin-bottom: 0.25rem;
}

.list {
  width: 480px;
}
.list b {
  font-size: 1.5rem;
  margin-bottom: 0.25rem;
}
.list p {
  font-size: 1rem;
}
.sec {
  margin-bottom: 1.5rem;
  line-height: 1.2;
}
.sec:last-of-type {
  margin-bottom: 0;
}
.step_number {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 3rem;
  height: 3rem;
  min-width: 3rem;
  min-height: 3rem;
  color: #fff;
  background-color: #464646;
  border-radius: 100%;
  margin: 0 auto;
  margin-right: 1.5rem;
}
.step_number span {
  font-size: 1.3rem;
  font-weight: 600;
}

.slide {
  margin-left: 3rem;
  width: 280px;
}

button {
  margin: 0 auto;
  width: 100%;
  min-height: 3rem;
  max-width: 22rem;
  font-size: 1.5rem;
  line-height: 1.5;
  border: none;
  border-radius: 8px;
  color: #f2f2f2;
  background-color: #4c84e0;
}
