<main>
	<p>
		Con <a href='#'>CAVAK.com</a> puedes pedir el auto de tus sueños hasta 
		la puerta de tu casa. Para más informes, puedes llamarnos al 
		<a href='tel:525541629202'>525541629202</a> o escribirnos a nuestro 
		<a href='https://wa.me//525541629202'>WhatsApp</a>
	</p>

	<app-cavak-cover></app-cavak-cover>
	<app-info></app-info>
	
	<p>
		<b>Información COVID-19 /</b>
		Para la seguridad y el bienestar de todos, hicimos nuestros 
		<b>servicios 100% de forma remota.</b> 
		Aprende más sobre nuestras 
		<a href='#'>medidas de seguridad.</a>
	</p>
	
	<app-benefits></app-benefits>
	<app-sell></app-sell>
	<app-experence></app-experence>
	<app-sedes></app-sedes>
	<app-footer></app-footer>
</main>