<section>
	<div class='container'>
		<h3>Nuevos beneficios CAVAK</h3>
		<div class='group-card'>
			<div class='card'>
				<picture>
					<source srcset='https://images.kavak.services/assets/images/home/benefits/1.jpg'>
					<img src='' type='image/webp'>
				</picture>
				<div>
					<h4>Haz una cita y ve tu auto por videollamada</h4>
					<p>Encuentra el auto de tus sueños y a haz una cita para que lo puedas ver por videollamada</p>
				</div>
			</div>
			<div class='card'>
				<picture>
					<source srcset='https://images.kavak.services/assets/images/home/benefits/2.webp'>
					<img src='' type='image/webp'>
				</picture>
				<div>
					<h4>Entrega y recogida a domicilio</h4>
					<p>Todas nuestras entregas y recogidas se pueden hacer desde la comodidad de tu casa, bajo nuestras estrictas medidas de sanitización.</p>
				</div>
			</div>
			<div class='card'>
				<picture>
					<source srcset='https://images.kavak.services/assets/images/home/benefits/3.jpg'>
					<img src='' type='image/webp'>
				</picture>
				<div>
					<h4>Trámites sin contacto</h4>
					<p>Todo el papeleo se puede realizar de forma digital, sin necesidad de acudir a ningún centro ni de que salgas de tu casa.</p>
				</div>
			</div>
			<div class='card'>
				<picture>
					<source srcset='https://images.kavak.services/assets/images/home/benefits/4.jpg'>
					<img src='' type='image/webp'>
				</picture>
				<div>
					<h4>Todos nuestros autos están 100% sanitizados</h4>
					<p>Hemos reforzado nuestros procesos de limpieza y sanitización de todos los vehículos bajo rigurosos controles internos.</p>
				</div>
			</div>
			<div class='card'>
				<picture>
					<source srcset='https://images.kavak.services/assets/images/home/benefits/5.webp'>
					<img src='' type='image/webp'>
				</picture>
				<div>
					<h4>Servicio post-venta a domicilio</h4>
					<p>Para seguir manteniendo sana distancia, podemos resolver tus solicitudes de post-venta a domicilio.</p>
				</div>
			</div>
		</div>
	</div>
</section>