section {
  display: flex;
  justify-content: center;
  flex-direction: column;
  font-family: sans-serif;
  text-align: center;
  color: #4f4c48;
  background-color: #ffffff;
}
.container {
  padding: 1.5rem 0;
  max-width: 1110px;
}
.group-card {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-left: -1rem;
  margin-right: -1rem;
}
.card {
  max-width: 33%;
  border: none;
  padding: 0 1rem;
  margin: 1rem 0;
}
.card > div {
  padding: 0.5rem;
}
h3 {
  font-family: sans-serif;
  font-size: 2.5rem;
  font-weight: 600;
  line-height: 1.5;
  margin-bottom: 1.5rem;
}
h4 {
  color: #111;
  font-size: 1.5rem;
  font-weight: 500;
}
p {
  font-size: 1rem;
}
picture {
  margin-bottom: 0.5rem;
}
