<section>
	<h3>Miles de consumidores han vivido una experiencia CAVAK</h3>
	<video controls> 
		<source src='https://static.kavak.services/assets/videos/videohome_desktop.mp4' type="video/mp4">
	</video>
</section>