section {
  display: flex;
  padding: 1rem 0;
  flex-direction: column;
  background-color: #ffffff;
}
h3 {
  color: #43484c;
  padding: 1rem 0;
  font-size: 2.5rem;
  font-weight: 500;
  text-align: center;
}
video {
  width: 806px;
  height: 456px;
  margin: 0 auto;
}
