section {
  padding: 1.5rem 0;
  display: flex;
  width: 100%;
  flex-direction: column;
  background-color: #f2f2f2;
}
h3 {
  color: #43484c;
  text-align: center;
  font-size: 2.5rem;
  font-weight: 500;
}
div {
  display: flex;
  justify-content: center;
}
a {
  font-size: 1.5rem;
  margin-top: 1rem;
  padding: 1rem 0;
  text-align: center;
  width: 100%;
  max-width: 22rem;
  color: #4c4c4c;
  background-color: #fff;
  border: 1px solid #4c4c4c;
  border-radius: 8px;
  box-shadow: 0 2px 10px #353535a0;
}
a:hover {
  font-style: none;
}
