<section>	
	<h3>Compra online o visítanos en nuestras sedes</h3>
	<div>
		<img src='https://images.kavak.services/assets/images/home/desktop/sedes.webp'>
	</div>
	<div>
		<a href='#'>Ver sedes</a>
	</div>
</section>
