img {
  width: 100%;
  user-select: none;
}
.text-cover {
  max-width: 480px;
  color: #000;
  position: absolute;
  left: 17.5vw;
  top: 8vw;
}
h1 {
  font-family: sans-serif;
  line-height: 1.1;
  font-size: 2.7rem;
  font-weight: 600;
}
h3 {
  color: #4c84e0;
  font-size: 1.7rem;
}
