<section>
	<div>
		<picture>
			<source media='(min-width: 576px)' type='image/webp' srcset='https://images.kavak.services/assets/images/home/desktop/banner.webp'>
			<img src=''> 
		</picture>
	</div>
	<div class='text-cover'>
		<h1>Transformando <br>
			la compra y venta<br>
			de autos seminuevos</h1>
		<h3>Comprar un auto en CAVAK<br>
			es una experiencia única.</h3>
	</div>
</section>