section {
  display: flex;
  justify-content: center;
  flex-direction: column;
  font-family: sans-serif;
  text-align: center;
  color: #4f4c48;
  background-color: #f2f2f2;
}
.container {
  padding: 1.5rem 0;
  max-width: 1110px;
}
.group-card {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.card {
  max-width: 33%;
  border: none;
  margin: 1rem 0;
  background-color: transparent;
}
.card > div:last-of-type {
  padding: 0.5rem;
}
h4 {
  color: #111;
  font-size: 1.5rem;
  font-weight: 500;
}
p {
  font-size: 1rem;
}
.logo {
  display: flex;
  overflow: hidden;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0.5rem;
  width: 5rem;
  height: 5rem;
  border-radius: 100%;
}
img {
  width: 100%;
  height: auto;
  border-style: none;
  vertical-align: middle;
}

button {
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 1.5;
  width: 100%;
  max-width: 22rem;
  color: #fff;
  background-color: #4c84e0;
  border: none;
  border-radius: 8px;
  padding: 0.5rem 0;
}
