<section>
	<div class='container'>
		<div class='group-card'>
			<div class='card'>
				<div class='logo'>
					<picture>
						<source srcset='https://images.kavak.services/assets/images/home/bubble_1.webp?d=168x168'>
						<img src='' type='image/webp'>
					</picture>
				</div>
				<div>
					<h4>Autos seminuevos certificados</h4>
					<p>Compramos 1 de cada 3 autos que inspeccionamos y al aprobarlo se convierte en un auto KAVAK.</p>
				</div>
			</div>
			<div class='card'>
				<div class='logo'>
					<picture>
						<source srcset='https://images.kavak.services/assets/images/home/bubble_2.webp?d=168x168'>
						<img src='' type='image/webp'>
					</picture>
				</div>
				<div>
					<h4>Hasta 15 meses<br/>de garantía</h4>
					<p>Respaldamos nuestra calidad con 3 meses de garantía incluida y te damos la posibilidad de extenderla un año más.</p>
				</div>
			</div>
			<div class='card'>
				<div class='logo'>
					<picture>
						<source srcset='https://images.kavak.services/assets/images/home/bubble_3.webp?d=168x168'>
						<img src='' type='image/webp'>
					</picture>
				</div>
				<div>
					<h4>Financiamiento de<br/> autos seminuevos</h4>
					<p>En KAVAK trabajamos para ofrecer las mejores alternativas de financiamiento de autos seminuevos en el mercado.</p>
				</div>
			</div>
			<div class='card'>
				<div class='logo'>
					<picture>
						<source srcset='https://images.kavak.services/assets/images/home/bubble_6.webp?d=168x168'>
						<img src='' type='image/webp'>
					</picture>
				</div>
				<div>
					<h4>Precios<br> increíbles</h4>
					<p>Al no tener vendedores ni salas de exhibiciones costosas, podemos ofrecer mejores precios y ahorrarte los costos ocultos.</p>
				</div>
			</div>
			<div class='card'>
				<div class='logo'>
					<picture>
						<source srcset='https://images.kavak.services/assets/images/home/bubble_4.webp?d=168x168'>
						<img src='' type='image/webp'>
					</picture>
				</div>
				<div>
					<h4>Entregado<br>en casa</h4>
					<p>Realizamos un tratamiento estético y mecánico para llevarlo a su mejor nivel. ¡Ni te imaginas cómo te lo entregamos en casa!</p>
				</div>
			</div>
			<div class='card'>
				<div class='logo'>
					<picture>
						<source srcset='https://images.kavak.services/assets/images/home/bubble_5.webp?d=168x168'>
						<img src='' type='image/webp'>
					</picture>
				</div>
				<div>
					<h4>7 días o 300 kms<br>de prueba</h4>
					<p>Sabemos que conseguir el carro de tus sueños no es sencillo, si no te gusta lo puedes devolver!</p>
				</div>
			</div>
		</div>
		<button>Compra un auto CAVAK</button>
	</div>
</section>