.sidenav-container {
  height: 100%;
}

/* Sidenv styles */
.sidenav {
  width: 320px;
} /* KAVAK logo */
.sidenav .mat-toolbar {
  background: inherit;
  border: 1px solid #e5e5e5;
  padding: 0.75rem 2rem;
}
.sidenav .mat-toolbar .btn {
  margin-left: auto;
}
/* options list */
.mat-nav-list {
  padding: 0;
}
.mat-nav-list > button {
  width: 100%;
  padding: 0.75rem 2rem;
  font-size: 1rem;
  text-align: left;
  color: #43484c;
  background-color: #fff;
  border: 1px solid #e5e5e5;
}
.mat-nav-list > button:hover {
  color: #fff;
  background-color: #4c84e0;
  border-color: #4c84e0;
}
.message_card {
  width: 100%;
  display: flex;
}
.message_card button {
  margin: 1rem;
  padding: 0.5rem 0;
  border: none;
  flex-grow: 1;
  border-radius: 5px;
  background-color: #ffffff;
  box-shadow: 1px 2px 5px #8c8c8c80;
}
.message_card > button :nth-child(2) {
  color: #4c84e0;
}
h5 {
  font-size: 1.25rem;
}

/* Navigation bar styles */
.mat-sidenav-content > .mat-toolbar {
  top: 0;
  z-index: 1;
  height: 3.7rem;
  position: sticky;
  background-color: #000;
}
.button_group {
  margin-left: auto;
  margin-right: 3rem;
}
.button_group > button {
  min-width: 13rem;
  margin-left: 1rem;
  color: #fff;
  border-radius: 10px;
  background-color: #4c84e0;
}
div[aria-label^="Toggle"] {
  color: white;
  user-select: none;
  width: 2rem;
}
.mat-icon {
  font-size: xx-large;
}

app-logo-svg {
  width: 5.5rem;
}
.mat-sidenav app-logo-svg {
  width: 6.25rem;
}
