<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer position='end' class="sidenav" fixedInViewport
      [attr.role]="'dialog'"
      [mode]="'over'"
      [opened]=false>
    <mat-toolbar>
      
      <app-logo-svg (click)='drawer.close()'></app-logo-svg>

      <button (click)="drawer.close()" class='btn'>X</button>

    </mat-toolbar>
    <mat-nav-list>
      <button>Comprar un auto       </button>
      <button>Cambia o vende tu auto</button>
      <button>Aplicar a credito     </button>
      <button>Acerca de CAVAK       </button>
      <button>Contactanos           </button>
      <button>Blog                  </button>
      <button>Registrate            </button>
      <div class='message_card'>
        <button>
          <h5>¿No está el auto que<br/>quieres?</h5>
          <h5>¡Lo buscamos por ti!</h5>
        </button>
      </div>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar>
      <app-logo-svg fillColor='#fff'></app-logo-svg>

      <div class='button_group'>
        <button class='btn '>Comprar un auto</button>
        <button class='btn '>Aplicar a credito</button>
        <button class='btn '>Cambia o vende tu auto</button>
      </div>

      <div
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.open()">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </div>
    </mat-toolbar>
    <!-- Add Content Here -->
    
    <app-landing></app-landing>
    
  </mat-sidenav-content>
</mat-sidenav-container>
