/* You can add global styles to this file, and also import other style files */
* {
  box-sizing: border-box;
  user-select: none;
}

html,
body {
  height: 100%;
}
body {
  color: #4c4c4c;
  margin: 0;
  font-family: sans-serif, Roboto, "Helvetica Neue" !important;
}
